.staff-title h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 125px;
}

.staff-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  gap: 30px;
  margin: 50px auto 150px auto;
}

.staff-grid-item {
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.manager {
  background: url(./images/dwayne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trainer1 {
  background: url(./images/marlene.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.trainer2 {
  background: url(./images/charlene.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.staff-inner-grid.text {
  text-align: center;
  background-color: rgb(28, 27, 27);
}
.staff-inner-grid.text h3 {
  margin-top: 40px;
  font-size: 1.5rem;
}

.staff-inner-grid.text p {
  margin: 25px auto 10px auto;
  font-size: 1rem;
  width: 80%;
}

@media screen and (max-width: 1170px) {
  .staff-grid {
    width: 90%;
    gap: 20px;
  }

  .trainer2 {
    background-position: left;
  }
}

@media screen and (max-width: 900px) {
  .staff-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
  }
}
